* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.nav {
    width: 100%;
    height: 75px;
    background-color: antiquewhite;
}
.container {
    display: flex;
    width: 100%;
}
.playlist {
    width: 20%;
    height: 1000px;
    background-color: white;
}
.content {
    display: flex;
    flex-direction: column;
    width: 80%;
}
#topic {
    font-size: 25px;
    padding: 10px;
    background-color: #25478B;
    color: white;
}
.topicname {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(212, 212, 212);
}
i {
    margin-left: auto;
}
.options div {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}
.enable-options{
    opacity: 1;
    height: 132px;
    transition: all 0.5s ease;
}
.disable-options{
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.selected-topic{
    background-color: #FF2E63;
    color: white;
}